/*========================================
  共通カラー
========================================*/
:root {
    --color-red: #D61619;
    --color-black: #151515;
    --color-white: #FFFFFF;
    --color-base: #F2F2F2;
}

/*========================================
    ヘッダーセクション
  ========================================*/
.header__navbar {
    background: #fff;
    padding: 10px 20px;
}

.header__brand {
    display: flex;
    align-items: center;
    padding: 0;
}

.header__brand-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-top: -5px;
}

.header__logo {
    height: 70px;
    margin-right: 10px;
}

.header__festival-text {
    font-size: 14px;
    line-height: 1.4;
}

.header__title {
    font-size: 16px;
    font-weight: bold;
}

/*========================================
    Menuボタンセクション
  ========================================*/
.menu {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9999;
}

.menu__link {
    display: inline-flex;
    background-color: var(--color-black);
    padding: 15px;
    text-decoration: none;
    border: 1px solid var(--color-black);
    margin-top: 0;
}

.menu__icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.menu__text {
    font-size: 14px;
    color: var(--color-white);
}

/*========================================
    モーダルセクション
  ========================================*/
.menu__overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 9998;
}

.menu__overlay.is-active {
    display: block;
}

.menu__modal {
    background-color: #fff;
    margin-top: 30px;
    padding: 20px;
    border-radius: 4px;
    position: relative;
}

.menu__modal-content {
    margin-top: 20px;
}

.menu__modal-logo {
    display: block;
    width: 20%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.menu__modal-logo-gibier {
    display: block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
}

.menu__modal-festival-name {
    font-size: 18px;
    font-weight: bold;
    margin: 5px 0;
    text-align: center;
}

.menu__modal-festival-date {
    font-size: 14px;
    margin-bottom: 15px;
    text-align: center;
}

.menu__modal-btn {
    display: block;
    margin-bottom: 10px;
}

.menu__modal-list {
    margin: 0;
    padding: 0;
}

.menu__modal-item {
    margin-bottom: 10px;
    border-bottom: 1px solid var(--color-black);
    padding-top: 15px;
    padding-bottom: 15px;
}

.menu__modal-item a {
    display: flex;
    color: #333;
    text-decoration: none;
    font-size: 16px;
    justify-content: space-between;
}

.menu__modal-bottom {
    margin-top: 30px;
}

.menu__modal-banner {
    text-align: center;
    margin-bottom: 20px;
}

.menu__modal-banner p {
    margin-bottom: 10px;
}

/*-------------------------------------
  ボタン共通スタイル (Block: "button")
--------------------------------------*/
.button {
    border: none;
    display: inline-flex;
    align-items: center;
    padding: 30px 10px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    margin-top: 5px;
}

/* ボタンの中のアイコン要素 (Element: "button__icon") */
.button__icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

/* ボタンの中のテキスト要素 (Element: "button__text") */
.button__text {
    text-align: center;
}

/*-------------------------------------
    ボタンバリエーション (Modifier)
  --------------------------------------*/

/* ボランティア用ボタン (Modifier: "--volunteer") */
.button--volunteer {
    background-color: #E60000;
    color: #ffffff;
}

/* ボタンとテキストの間の縦線 */
.button__vline--volunteer {
    border-right: 1px solid #E15B5D;
}

/* スポンサー用ボタン (Modifier: "--sponsor") */
.button--sponsor {
    background-color: #000000;
    color: #ffffff;
}

/* ボタンとテキストの間の縦線 */
.button__vline--sponsor {
    border-right: 1px solid #3C3C3C;
}

/*========================================
    固定要素（ボランティアボタン）
  ========================================*/
.volunteer--fixed {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background: var(--color-red);
    color: var(--color-white);
    padding: 10px;
    z-index: 1000;
}

/*========================================
    Topボタン・グリッドメニューセクション
  ========================================*/
.fixed-top-btn {}

.grid-menu-section {
    margin-top: 20px;
}

.grid-menu__item {}

.grid-menu__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    background-color: var(--color-white);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: Arial, sans-serif;
}

.grid-menu__button img {
    width: 40px;
    height: 40px;
    margin-bottom: 8px;
}

.grid-menu__button p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
    color: var(--color-black);
}

/*========================================
    ボタン（黒）のカスタムスタイル
  ========================================*/
.button--black {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 10px 20px;
    border: none;
    font-size: 14px;
    border-radius: 0px;
}

.button--contact {
    width: 100%;
    padding: 20px;
}

.button--black:hover {
    background-color: #333;
}

/*========================================
    NEWSセクション
  ========================================*/
.news-section {
    margin-top: 20px;
}

.news-section__title {
    font-size: 24px;
}

.news-section__title span {
    font-size: 16px;
    color: #666;
}

.news-section__list {
    list-style: none;
    padding: 0;
}

.news-section__item {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.news-section__date {
    font-size: 14px;
    color: #666;
    margin-right: 10px;
}

.news-section__tag {
    background-color: #ddd;
    padding: 3px 6px;
    font-size: 12px;
    border-radius: 3px;
}

.news-section__text {
    font-weight: bold;
    margin-top: 5px;
}

/*========================================
    フェスティバルセクション
  ========================================*/
.festival {
    text-align: center;
}

.festival__image {
    position: relative;
}

.festival__img {
    width: 100%;
    height: auto;
}

.festival__logo {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 100px;
}

.festival__content {
    margin-top: 20px;
}

.festival__title {
    font-size: 36px;
    font-weight: bold;
    line-height: 1.2;
}

.festival__title--highlight {
    color: var(--color-red);
}

.festival__title--year {
    font-size: 30px;
}

.festival__subtitle {
    font-size: 18px;
    color: #666;
}

.festival__info {
    margin-top: 20px;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 15px;
    display: inline-block;
    border-radius: 5px;
}

.festival__date {
    font-size: 24px;
    font-weight: bold;
}

.festival__date--small {
    font-size: 14px;
    vertical-align: super;
}

.festival__location {
    font-size: 16px;
    margin-top: 5px;
}

/*========================================
    ABOUT USセクション
  ========================================*/
.about {
    padding: 50px 0;
}

.about__content {}

.about__title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about__subtitle {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.about__text {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.about__highlight {
    color: var(--color-red);
    font-weight: bold;
}

.about__button {
    display: inline-block;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 10px 15px;
    font-size: 16px;
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
}

.about__button:hover {
    background-color: #333;
}

.about__image img {
    border-radius: 5px;
}

/*========================================
    INFORMATIONセクション
  ========================================*/
.info {
    background-color: #111;
    color: #fff;
    padding: 50px 0;
}

.info__title {
    font-size: 28px;
    font-weight: bold;
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.info__subtitle {
    font-size: 14px;
    margin-bottom: 30px;
}

.info__box {
    background-color: #222;
    text-align: center;
    padding: 30px;
    border: 1px solid #fff;
}

.info__icon {
    width: 40px;
    height: auto;
    margin-bottom: 10px;
}

.info__box-title {
    font-size: 18px;
    font-weight: bold;
}

.info__box-subtitle {
    font-size: 14px;
}

.info__banner {
    text-align: center;
}

.info__banner-img {
    width: 100%;
    height: auto;
}

/*========================================
    ACCESSセクション
  ========================================*/
.access {
    background-color: #f8f8f8;
    padding: 40px 0;
}

.access__title {
    font-size: 24px;
    font-weight: bold;
}

.access__subtitle {
    font-size: 14px;
    color: #666;
    margin-bottom: 10px;
}

.access__divider {
    border-top: 2px solid #000;
    margin-bottom: 20px;
}

.access__map iframe {
    width: 100%;
    height: 450px;
    border: 0;
}

.access__buttons {
    display: flex;
    flex-wrap: wrap;
}

.access__button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 15px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
}

.access__button:hover {
    background-color: #333;
}

.access__button .glyphicon {
    margin-left: 10px;
}

/*========================================
    GOODSセクション
  ========================================*/
.goods {
    padding: 50px 0;
}

.goods__title {
    font-size: 32px;
    font-weight: bold;
}

.goods__subtitle {
    font-size: 18px;
    margin-bottom: 20px;
}

.goods__description {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.goods__images {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.goods__image {
    width: 48%;
}

.goods__buttons {
    margin-top: 30px;
}

.goods__button {
    text-align: center;
    font-weight: bold;
}

/*========================================
    フッターセクション
  ========================================*/
.footer a {
    color: var(--color-white);
}

.sponsor-section {
    padding: 50px 0px;
    background-color: #CCCCCC;
}

.sponsor-section img {
    width: 100%;
    max-width: 250px;
    height: auto;
}

.footer__content {
    padding: 20px 0;
}

.footer__info {
    text-align: left;
}

.footer__logo {
    width: 100%;
    margin-bottom: 10px;
}

.footer__small-text {
    font-size: 10px;
    display: inline;
    margin: 0 3px;
}

.footer__small-text a {
    color: var(--color-black);
}

.footer__small-text a:hover {
    text-decoration: underline;
}

.footer__links {
    list-style: none;
    padding: 0;
}

.footer__link-item {
    margin-bottom: 5px;
}

.footer__link-item a {
    color: var(--color-black);
    /* 白文字に */
    text-decoration: none;
    /* 下線を消す */
}

.footer__link-item a:hover {
    text-decoration: underline;
}

.footer__ad-banner {
    width: 100%;
    max-width: 200px;
}

.footer__copylight {
    font-size: 6px;
    color: var(--color-black);
    display: inline;
}

/*--------------------------------------
  SNSセクション (Block: sns-section)
---------------------------------------*/
.sns-section {
    background-color: #000;
    /* 背景色：黒 */
    padding: 20px 0;
    /* 上下余白 */
}

.sns-section__item {
    border: 1px solid #fff;
    /* 枠線：白 */
    text-align: center;
    /* 中央寄せ */
    padding: 20px;
    /* 余白 */
    margin-bottom: 20px;
    /* カード同士の間隔 */
    display: flex;
    /* 横並びに配置 */
    align-items: center;
    /* 垂直方向の中央揃え */
    height: 80px;
    margin-left: 15px;
    margin-right: 15px;
}

.sns-section__icon {
    display: block;
    margin: 0 auto 10px;
    /* 画像を中央寄せ、下に余白 */
    max-width: 100%;
    /* アイコンサイズを調整 */
}

.sns-section__text {
    color: #fff;
    /* テキストカラー：白 */
    font-size: 16px;
    margin: 0;
    /* p要素のデフォルト余白をリセット */
}

/*--------------------------------------
    バナーセクション (Block: banner-section)
  ---------------------------------------*/
.banner-section {
    background-color: #000;
    /* 背景色：黒 */
    padding: 20px 0;
    /* 上下余白 */
}

.banner-section__image {
    display: block;
    margin: 0 auto;
    /* 画像を中央寄せ */
    max-width: 100%;
    /* 親要素に合わせて縮小 */
    margin-left: 15px;
    margin-right: 15px;
}